.parent{
    display: flex;
    flex-wrap: wrap;
    background-color: beige;
    height: 400px;
    width: 650px;
    
    column-gap: 10px;
    justify-content: center;
}
.child{
    width: 200px;
    height: 200px;
    background-color: lightblue;
    /* border: 1px black solid; */
    font-size: 40px;
    text-align: center;
}
.two{
    align-self: start;
    height: 80px;
}
.six{
    align-self: end;
    height: 80px;
}

